.Searchbar {
  top: 0;
  left: 0;
  position: sticky;
  z-index: 1100;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 80px;
  padding-right: 24px;
  padding-left: 24px;
  padding-top: 12px;
  padding-bottom: 12px;
  color: rgb(0, 0, 0);
  background-color: #f7f7f7;
  background-image: url('./JusticeDance.gif');
  background-size: 300px;
  background-repeat: no-repeat;
  background-position: 50% 60%;
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2),
    0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
}

.SearchForm {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 600px;
  background-color: rgba(255, 255, 255, 0);
  border-radius: 3px;
  overflow: hidden;
}

.SearchForm__button {
  display: inline-block;
  width: 48px;
  height: 25px;
  border: 0;
  background-image: url('./ModeusWaiting.gif');
  background-size: 60%;
  background-repeat: no-repeat;
  background-position: 100% 50%;
  background-color: rgb(250, 155, 155);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
  outline: none;
}

.SearchForm__button:hover {
  background-color: rgb(250, 129, 129);
}

.SearchForm__buttonLabel {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  clip-path: inset(50%);
  border: 0;
}

.SearchForm__input {
  display: inline-block;
  width: 100%;
  font: inherit;
  font-size: 20px;
  border: none;
  outline: none;
  padding-left: 4px;
  padding-right: 4px;
  background-color: rgba(250, 155, 155, 0.5);
}

.SearchForm__input::placeholder {
  font: inherit;
  font-size: 18px;
}
